* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primaryColor: #af9a7d;
	--mainWhite: #fff;
	--offWhite: #f7f7f7;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--darkGrey: #cfcfcf;
	--mainTransition: all 0.3s linear;
	--mainSpacing: 3px;
	--lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
	--darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
	padding-top: 66px;
	color: var(--mainBlack);
	background: var(--mainWhite);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.4;
}
h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}
h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}
h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}
h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}
h6 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

.btn-primary {
	display: inline-block;
	text-decoration: none;
	letter-spacing: var(--mainSpacing);
	color: var(--mainBlack);
	background: var(--primaryColor);
	padding: 0.4rem 0.9rem;
	border: 3px solid var(--primaryColor);
	transition: var(--mainTransition);
	text-transform: uppercase;
	cursor: pointer;
}
.btn-primary:hover {
	background: transparent;
	color: var(--primaryColor);
}
.loading {
	text-transform: capitalize;
	text-align: center;
	margin-top: 3rem;
}
.error {
	text-align: center;
	text-transform: uppercase;
	margin: 2rem 0;
}
.empty-search {
	text-align: center;
	text-transform: capitalize;
	margin: 2rem 0;
	padding: 1rem;
	letter-spacing: var(--mainSpacing);
}

/* end of globals */
/* ----- Navbar ----- */
/**/
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.75rem 2rem;
	background: var(--offWhite);
	z-index: 1;
	box-shadow: 0px 5px 5px 0px rgba(20, 20, 20, 0.75);
}
.nav-header {
	display: flex;
	justify-content: space-between;
}
.nav-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}
.nav-icon {
	font-size: 1.5rem;
	color: var(--primaryColor);
}
.nav-links {
	height: 0;
	overflow: hidden;
	transition: var(--mainTransition);
	list-style-type: none;
}
.nav-links a {
	display: block;
	text-decoration: none;
	padding: 1rem 0;
	color: var(--mainBlack);
	transition: var(--mainTransition);
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
	color: var(--primaryColor);
}

.show-nav {
	height: 100px;
}
@media screen and (min-width: 768px) {
	.nav-btn {
		display: none;
	}
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
	}
	.nav-links {
		height: auto;
		display: flex;
		margin-left: 4rem;
	}
	.nav-links a {
		margin: 0 1rem;
		padding: 0.5rem 0;
	}
}
/* end of navbar */
/* Hero */
@keyframes fade-out {
	0% {
		background: url('./images/hero2.jpg') center/cover no-repeat;
	}
	100% {
		background: url('./images/hero1.jpg') center/cover no-repeat;
	}
}

@keyframes fade-in {
	0% {
		background: url('./images/hero1.jpg') center/cover no-repeat;
	}
	100% {
		background: url('./images/hero2.jpg') center/cover no-repeat;
	}
}
.defaultHero,
.roomsHerov1 {
	animation-name: fade-out;
	animation-fill-mode: both;
	animation-duration: 5s;
	min-height: calc(100vh - 66px);
	background: url('./images/hero1.jpg') center/cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.roomsHerov1 {
	background-image: url('./images/hero1.jpg');
	// min-height: 90vh;
}
.roomsHerov2 {
	animation-name: fade-in;
	animation-fill-mode: both;
	animation-duration: 5s;
	min-height: calc(100vh - 66px);
	background: url('./images/hero1.jpg') center/cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.roomsHerov2 {
	background-image: url('./images/hero1.jpg');
	// min-height: 90vh;
}
/* End of Hero */
/* Banner */
.banner {
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
	color: var(--mainWhite);
	padding: 2rem 1rem;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}
.banner h1 {
	font-size: 2.5rem;
}
.banner div {
	width: 10rem;
	height: 5px;
	background: var(--primaryColor);
	margin: 1.7rem auto;
}
.banner p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
	.banner {
		padding: 2rem 3rem;
	}
	.banner h1 {
		font-size: 3rem;
	}
}
@media screen and (min-width: 992px) {
	.banner {
		padding: 2rem 6rem;
	}
	.banner h1 {
		font-size: 4rem;
	}
}
/* End of Banner */
/* Title */
.section-title {
	text-align: center;
	margin-bottom: 4rem;
}
.section-title h4 {
	font-size: 2rem;
	letter-spacing: var(--mainSpacing);
	text-transform: capitalize;
	margin-bottom: 1rem;
}
.section-title div {
	width: 5rem;
	height: 5px;
	margin: 0 auto;
	background: var(--primaryColor);
}
/* end of Title */

/* services */
.services {
	padding: 5rem 0;
}
.services {
	background: var(--darkGrey);
	text-align: center;
}
.services-center {
	width: 90vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 50px;
}
.service span {
	display: inline-block;
	color: var(--primaryColor);
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}
.services h6 {
	letter-spacing: var(--mainSpacing);
	text-transform: capitalize;
}
.services p {
	width: 80%;
	margin: 0 auto;
}
@media screen and (min-width: 992px) {
	.services-center {
		width: 95vw;
		max-width: 1170px;
	}
}

@media screen and (min-width: 1200px) {
	.services p {
		width: 100%;
	}
}
/* end of services */

/* ToS */
.tos {
	background: var(--darkGrey);
	padding: 2.5rem 5rem 2.5rem 5rem;
	text-align: left;
}
/* End of ToS */

/* CTA */
.sellcta {
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background: url('./images/lilia.jpg') center/cover no-repeat;
	color: white;
	display: flex;
	flex-direction: column;
}

.ctatext {
	line-height: 200%;
	width: 100%;
}

.ctatext h3 {
	letter-spacing: 1px;
	margin-top: 20px;
}

.ctaimg-container {
	background: url('./images/sprzedaj.png') center/cover no-repeat;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	margin: 50px;
}

.ctaimg-container:hover {
	cursor: pointer;
	animation-name: sell;
	animation-fill-mode: both;
	animation-duration: 0.5s;
}

@keyframes sell {
	0% {
		background: url('./images/sprzedaj.png') center/cover no-repeat;
	}
	100% {
		background: url('./images/dupa.png') center/cover no-repeat;
	}
}

/* End of CTA */

/* Footer */

.footer {
	width: 100%;
	background-color: #0e071c;
	padding-top: 20px;
	clear: both;
}

.socials-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #d0d0d0;
	flex-direction: column;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

.socials-logo img {
	width: 50px;
	height: 50px;
	margin: 20px 0px;
}

.socials-logo h3 {
	font-size: 24px;
}

.socials-footer {
	padding: 20px;
	background-color: #0e071c;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fb {
	text-align: center;
	line-height: 190%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	background-color: #421e87;
	margin: 0 15px;
	color: #0e071c;
	font-size: 25px;
}

.fb:hover {
	cursor: pointer;
	background-color: #ffffff;
}

.tw {
	text-align: center;
	line-height: 190%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	background-color: #421e87;
	margin: 0 15px;
	color: #0e071c;
	font-size: 25px;
}

.tw:hover {
	cursor: pointer;
	background-color: #ffffff;
}

.ig {
	text-align: center;
	line-height: 190%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	background-color: #421e87;
	margin: 0 15px;
	color: #0e071c;
	font-size: 25px;
}

.ig:hover {
	cursor: pointer;
	background-color: #ffffff;
}

// End of Footer

// Newsletter

.newsletter {
	padding: 20px;
	background-color: #0e071c;
	display: flex;
	align-items: center;
	justify-content: center;
}

.newsletter-input {
	border: 1px solid #d0d0d0;
	display: flex;
	flex-direction: column;
}

.newsletter-header {
	padding: 15px;
	color: #421e87;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	border-bottom: 1px solid #d0d0d0;
}

.newsletter-form {
	display: flex;
	float: left;
	height: 100%;
}

.newsletter-form input[type='email'] {
	font-size: 12px;
	padding: 5px;
	font-weight: 700;
	border: none;
	outline: none;
	background-color: #0e071c;
	color: #ffffff;
}

.newsletter-send {
	height: 100%;
	border: none;
	width: 100%;
}

.newsletter-send button {
	background-color: #0e071c;
	border: none;
	box-sizing: border-box;
	color: #d0d0d0;
	font-size: 30px;
	padding-top: 8px;
	width: 100%;
	border-top: 1px solid #d0d0d0;
}

.newsletter-send button:hover {
	cursor: pointer;
	background-color: #421e87;
	animation-name: buttonNewsletter;
	animation-fill-mode: both;
	animation-duration: 0.3s;
}

@media screen and (min-width: 586px) {
	.newsletter-input {
		flex-direction: row;
		float: left;
	}

	.newsletter-header {
		font-size: 18px;
		margin-right: 10px;
		border-bottom: none;
	}

	.newsletter-form input[type='email'] {
		font-size: 18px;
		display: flex;
		border-right: 1px solid #d0d0d0;
		padding: 0 10px;
	}

	.newsletter-send button {
		width: 60px;
		border-top: none;
	}

	.newsletter-send {
		display: flex;
		float: left;
		width: 60px;
	}
}

@keyframes buttonNewsletter {
	0% {
		background-color: #0e071c;
	}
	100% {
		background-color: #421e87;
	}
}

.newsletter-send button:focus {
	outline: 0;
}

.copyright {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0px;
	background-color: #0e071c;
	color: #d0d0d0;
	font-size: 18px;
}

/* End of Newsletter */

/* Contact */

.contact-all {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.contact-form {
	width: 500px;
	display: flex;
	flex-direction: column;
	padding: 10px 30px 10px 10px;
	margin-bottom: 50px;
}

.contact-form-title {
	width: 30%;
	display: inline-block;
	height: 50px;
	vertical-align: top;
	font-size: 16px;
	padding-right: 10px;
}

.contact-form-input {
	width: 70%;
	display: inline-block;
	height: 40px;
	box-sizing: border-box;
	margin: 0;
	vertical-align: top;
	margin-bottom: 15px;
}

.contact-form-textarea {
	width: 70%;
	display: inline-block;
	background-color: yellow;
	height: 200px;
	box-sizing: border-box;
	margin-bottom: 15px;
	vertical-align: top;
}

#content-form-submit {
	box-sizing: border-box;
	width: 170px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 5px;
	outline: none;
	border: none;
	background-color: #0e071c;
	color: white;
	font-weight: 700;
	font-size: 16px;
}

#content-form-submit:hover {
	background-color: #421e87;
	cursor: pointer;
}

.contact-form input[type='text'] {
	width: 100%;
	height: 100%;
	font-size: 16px;
	padding: 10px;
}

.contact-form textarea {
	padding: 10px;
	width: 100%;
	height: 200px;
	display: inline-block;
	resize: none;
}

.contact-form select {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.contact-form-topic-group {
	width: 100%;
}

.recaptcha {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-data h3 {
	letter-spacing: 1px;
	font-size: 20px;
}

.contact-data span {
	font-size: 16px;
	vertical-align: top;
}

.contact-icons {
	font-size: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}

/* End of Contact */

/* Accordion */

.accordion-section {
	display: flex;
	flex-direction: column;
}

.accordion-title {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: none;
	outline: none;
	transition: background-color 0.6s ease;
}

.accordion-title:hover,
.active {
	background-color: #ccc;
}

.accordion-icon {
	margin-left: auto;
	transition: transform 0.6s ease;
}

.rotate {
	transform: rotate(90deg);
}

.accordion-content {
	background-color: white;
	overflow: hidden;
	transition: max-height 0.6s ease;
}

.accordion-text {
	font-weight: 400;
	font-size: 14px;
	padding: 18px;
}

/* End of Accordion */

/* ScrollToTop */

.scroll-to-top {
	background: black;
	color: white;
	position: fixed;
	bottom: 20px;
	left: 1.5%;
	width: 50px;
	height: 50px;
	z-index: 2;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	text-decoration: none;
	opacity: 0.6;
	pointer-events: auto;
	margin-top: 10px;
	transition: all 1s;

	&:hover {
		opacity: 1;
		animation: wiggle 1s ease;
		animation-iteration-count: 1;
	}
}

.scroll-to-top.off {
	opacity: 0;
	pointer-events: none;
	bottom: -20px;
	transition: all 1s;
}

@keyframes wiggle {
	20% {
		transform: translateY(6px);
	}
	40% {
		transform: translateY(-5px);
	}
	60% {
		transform: translateY(4px);
	}
	80% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(0);
	}
}

/* End of ScrollToTop */
