* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primaryColor: #355b9b;
	--mainWhite: #fff;
	--offWhite: #f7f7f7;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--darkGrey: #cfcfcf;
	--mainTransition: all 0.3s linear;
	--mainSpacing: 2px;
	--lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
	--darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
	padding-top: 66px;
	color: var(--mainBlack);
	background: var(--mainWhite);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.4;
}
h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}
h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}
h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}
h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}
h6 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

.btn-primary {
	display: inline-block;
	text-decoration: none;
	letter-spacing: var(--mainSpacing);
	color: var(--mainBlack);
	background: var(--primaryColor);
	padding: 0.4rem 0.9rem;
	border: 3px solid var(--primaryColor);
	transition: var(--mainTransition);
	text-transform: uppercase;
	cursor: pointer;
}
.btn-primary:hover {
	background: transparent;
	color: var(--primaryColor);
}
.loading {
	text-transform: capitalize;
	text-align: center;
	margin-top: 3rem;
}
.error {
	text-align: center;
	text-transform: uppercase;
	margin: 2rem 0;
}
.empty-search {
	text-align: center;
	text-transform: capitalize;
	margin: 2rem 0;
	padding: 1rem;
	letter-spacing: var(--mainSpacing);
}

/* end of globals */
/* ----- Navbar ----- */
/**/
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.75rem 2rem;
	background: var(--offWhite);
	z-index: 1;
	box-shadow: 0px 5px 5px 0px rgba(20, 20, 20, 0.75);
}
.nav-header {
	display: flex;
	justify-content: space-between;
	background: transparent;
}
.nav-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}
.nav-icon {
	font-size: 1.5rem;
	color: var(--primaryColor);
}
.nav-links {
	height: 0;
	overflow: hidden;
	padding: 0.25rem 0;
	transition: var(--mainTransition);
	list-style-type: none;
}
.nav-links a {
	display: block;
	text-decoration: none;
	padding: 1rem 0;
	color: var(--mainBlack);
	transition: var(--mainTransition);
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
	color: var(--primaryColor);
}

.show-nav {
	height: 275px;
}
@media screen and (min-width: 768px) {
	.nav-btn {
		display: none;
	}
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
	}
	.nav-links {
		height: auto;
		display: flex;
		margin-left: 4rem;
	}
	.nav-links a {
		margin: 0 1rem;
		padding: 0.5rem 0;
	}
}
/* end of navbar */
/* Hero */
@keyframes fade-out {
	0% {
		background: url('./images/hero2.jpg') center/cover no-repeat;
	}
	100% {
		background: url('./images/hero1.jpg') center/cover no-repeat;
	}
}

@keyframes fade-in {
	0% {
		background: url('./images/hero1.jpg') center/cover no-repeat;
	}
	100% {
		background: url('./images/hero2.jpg') center/cover no-repeat;
	}
}
.defaultHero,
.roomsHerov1 {
	animation-name: fade-out;
	animation-fill-mode: both;
	animation-duration: 5s;
	min-height: calc(100vh - 66px);
	background: url('./images/hero1.jpg') center/cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.roomsHerov1 {
	background-image: url('./images/hero1.jpg');
	// min-height: 90vh;
}
.roomsHerov2 {
	animation-name: fade-in;
	animation-fill-mode: both;
	animation-duration: 5s;
	min-height: calc(100vh - 66px);
	background: url('./images/hero1.jpg') center/cover no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.roomsHerov2 {
	background-image: url('./images/hero1.jpg');
	// min-height: 90vh;
}
/* End of Hero */
/* Banner */
.banner {
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
	color: var(--mainWhite);
	padding: 2rem 1rem;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 2px;
}
.banner h1 {
	font-size: 2.5rem;
}
.banner div {
	width: 10rem;
	height: 5px;
	background: var(--primaryColor);
	margin: 1.7rem auto;
}
.banner p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
	.banner {
		padding: 2rem 3rem;
	}
	.banner h1 {
		font-size: 3rem;
	}
}
@media screen and (min-width: 992px) {
	.banner {
		padding: 2rem 6rem;
	}
	.banner h1 {
		font-size: 4rem;
	}
}
/* End of Banner */
/* Title */
.section-title {
	text-align: center;
	margin-bottom: 4rem;
}
.section-title h4 {
	font-size: 2rem;
	letter-spacing: var(--mainSpacing);
	text-transform: capitalize;
	margin-bottom: 1rem;
}
.section-title div {
	width: 5rem;
	height: 5px;
	margin: 0 auto;
	background: var(--primaryColor);
}
/* end of Title */

/* services */

.services {
	background: var(--offWhite);
	text-align: center;
	padding: 5rem 0;
}

.service div {
	width: 10rem;
	height: 5px;
	background: var(--primaryColor);
	margin: 1.7rem auto;
}

.services-center {
	display: flex;
	width: 90vh;
	margin: 0 auto;
	width: 1000px;
}

.service {
	width: 250px;
	float: left;
	height: 270px;
}

.service span {
	display: inline-block;
	color: var(--primaryColor);
	font-size: 2.5rem;
	transition: all 1s ease-in-out;
	&:hover {
		transform: scale(1.2) + rotate(10deg);
	}
}
.services h6 {
	letter-spacing: var(--mainSpacing);
	text-transform: capitalize;
}
.services p {
	width: 80%;
	margin: 0 auto 50px auto;
	font-size: 14px;
}

@media screen and (max-width: 1050px) {
	.services-center {
		display: inline-block;
		width: 100%;
	}

	.service {
		width: 50%;
		height: auto;
	}
}

@media screen and (max-width: 650px) {
	.services-center {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.service {
		width: 100%;
	}
}

/* end of services */

/* ToS */
.tos {
	background-color: #ffffff;
	padding: 50px 10%;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.tos-header {
	width: 100%;
	font-weight: 700;
	padding: 30px 0px 10px 0px;
}
/* End of ToS */

/* CTA */
.sellcta {
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background: url('./images/lilia.png') center/cover no-repeat;
	color: white;
	display: flex;
	flex-direction: column;
}

.ctatext {
	line-height: 200%;
	width: 100%;
}

.ctatext h3 {
	letter-spacing: 1px;
	margin-top: 20px;
}

.ctaimg-container {
	background: url('./images/sprzedaj.png') center/cover no-repeat;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	margin: 50px;
}

.ctaimg-container:hover {
	cursor: pointer;
	animation-name: sell;
	animation-fill-mode: both;
	animation-duration: 0.5s;
}

@keyframes sell {
	0% {
		background: url('./images/sprzedaj.png') center/cover no-repeat;
	}
	100% {
		background: url('./images/dupa.png') center/cover no-repeat;
	}
}

@media screen and (max-width: 320px) {
	.ctaimg-container {
		width: 200px;
		height: 200px;
	}
}

/* End of CTA */

/* Testimonials */

.testimonials-all {
	padding: 70px 0 70px 0;
	text-align: center;
	background: var(--offWhite);
}

.testimonials-all h2 {
	font-size: 42px;
	font-weight: 400;
	letter-spacing: 2px;
}

.testimonials-left-arrow {
	display: inline-block;
	width: 70px;
	padding-right: 20px;
	font-size: 32px;
	border-right: 1px solid #909090;
	vertical-align: top;
}

.testimonials-left-arrow p {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	background-color: #355b9b;
	color: #f0f0f0;
	line-height: 145%;
	transform: rotate(180deg);
}

.testimonials-left-arrow p:hover {
	background-color: #0c1323;
	cursor: pointer;
	color: #ffffff;
}

.testimonials-right-arrow {
	display: inline-block;
	width: 70px;
	font-size: 32px;
	padding-left: 20px;
	vertical-align: top;
}

.testimonials-right-arrow p {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	background-color: #355b9b;
	color: #f0f0f0;
	line-height: 155%;
}

.testimonials-right-arrow p:hover {
	background-color: #0c1323;
	cursor: pointer;
	color: #ffffff;
}

.testimonials-client {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
	font-size: 20px;
	font-weight: 600;
	color: #355b9b;
	letter-spacing: 1px;
}

.testimonials-date {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 30px;
	font-size: 16px;
	letter-spacing: 1px;
}

.testimonials-quote {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.testimonials-quote p {
	width: 70%;
	font-size: 24px;
	letter-spacing: 1px;
}

@media screen and (max-width: 866px) {
	.testimonials-quote p {
		width: 90%;
		font-size: 20px;
	}

	.testimonials-all h2 {
		font-size: 38px;
	}
}

/* Footer */

.footer {
	width: 100%;
	background-color: #0c1323;
	padding-top: 20px;
	clear: both;
}

.socials-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #d0d0d0;
	flex-direction: column;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

.socials-logo img {
	width: 50px;
	height: 50px;
	margin: 20px 0px;
}

.socials-logo h3 {
	font-size: 24px;
}

.socials-footer {
	padding: 20px;
	background-color: #0c1323;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fb {
	text-align: center;
	line-height: 190%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	background-color: #355b9b;
	margin: 0 15px;
	color: #0c1323;
	font-size: 25px;
}

.fb:hover {
	cursor: pointer;
	background-color: #ffffff;
}

.tw {
	text-align: center;
	line-height: 190%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	background-color: #355b9b;
	margin: 0 15px;
	color: #0c1323;
	font-size: 25px;
}

.tw:hover {
	cursor: pointer;
	background-color: #ffffff;
}

.ig {
	text-align: center;
	line-height: 190%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	background-color: #355b9b;
	margin: 0 15px;
	color: #0c1323;
	font-size: 25px;
}

.ig:hover {
	cursor: pointer;
	background-color: #ffffff;
}

// End of Footer

// Newsletter

.newsletter {
	padding: 20px;
	background-color: #0c1323;
	display: flex;
	align-items: center;
	justify-content: center;
}

.newsletter-input {
	border: 1px solid #d0d0d0;
	display: flex;
	flex-direction: column;
}

.newsletter-header {
	padding: 15px;
	color: #355b9b;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	border-bottom: 1px solid #d0d0d0;
}

.newsletter-form {
	display: flex;
	float: left;
	height: 100%;
}

.newsletter-form input[type='email'] {
	font-size: 12px;
	padding: 5px;
	font-weight: 700;
	border: none;
	outline: none;
	background-color: #0c1323;
	color: #ffffff;
}

.newsletter-send {
	height: 100%;
	border: none;
	width: 100%;
}

.newsletter-send button {
	background-color: #0c1323;
	border: none;
	box-sizing: border-box;
	color: #d0d0d0;
	font-size: 30px;
	padding-top: 8px;
	width: 100%;
	border-top: 1px solid #d0d0d0;
}

.newsletter-send button:hover {
	cursor: pointer;
	background-color: #355b9b;
	animation-name: buttonNewsletter;
	animation-fill-mode: both;
	animation-duration: 0.3s;
}

@media screen and (min-width: 586px) {
	.newsletter-input {
		flex-direction: row;
		float: left;
	}

	.newsletter-header {
		font-size: 18px;
		margin-right: 10px;
		border-bottom: none;
	}

	.newsletter-form input[type='email'] {
		font-size: 18px;
		display: flex;
		border-right: 1px solid #d0d0d0;
		padding: 0 10px;
	}

	.newsletter-send button {
		width: 60px;
		border-top: none;
	}

	.newsletter-send {
		display: flex;
		float: left;
		width: 60px;
	}
}

@keyframes buttonNewsletter {
	0% {
		background-color: #0c1323;
	}
	100% {
		background-color: #355b9b;
	}
}

.newsletter-send button:focus {
	outline: 0;
}

.copyright {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0px;
	background-color: #0c1323;
	color: #d0d0d0;
	font-size: 18px;
}

/* End of Newsletter */

/* Contact */

.contact-all {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.contact-form {
	width: 500px;
	display: flex;
	flex-direction: column;
	padding: 10px 30px 10px 10px;
	margin-bottom: 50px;
}

.contact-form-title {
	width: 30%;
	display: inline-block;
	height: 50px;
	vertical-align: top;
	font-size: 16px;
	padding-right: 10px;
}

.contact-form-input {
	width: 70%;
	display: inline-block;
	height: 40px;
	box-sizing: border-box;
	margin: 0;
	vertical-align: top;
	margin-bottom: 15px;
}

.contact-form-textarea {
	width: 70%;
	display: inline-block;
	height: 200px;
	box-sizing: border-box;
	margin-bottom: 15px;
	vertical-align: top;
}

#content-form-submit {
	box-sizing: border-box;
	width: 170px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 5px;
	outline: none;
	border: none;
	background-color: #0c1323;
	color: white;
	font-weight: 700;
	font-size: 16px;
}

#content-form-submit:hover {
	background-color: #355b9b;
	cursor: pointer;
}

.contact-form input[type='text'] {
	width: 100%;
	height: 100%;
	font-size: 16px;
	padding: 10px;
	outline: none;
	border: 1px solid #6b6b6b;
}

.contact-form input[type='text']:focus {
	border: 1px solid #6b6b6b;
	background-color: #ededed;
}

.contact-form input[type='email'] {
	width: 100%;
	height: 100%;
	font-size: 16px;
	padding: 10px;
	outline: none;
	border: 1px solid #505050;
}

.contact-form input[type='email']:focus {
	border: 1px solid #6b6b6b;
	background-color: #ededed;
}

.contact-form input[type='tel'] {
	width: 100%;
	height: 100%;
	font-size: 16px;
	padding: 10px;
	outline: none;
	border: 1px solid #505050;
}

.contact-form input[type='tel']:focus {
	border: 1px solid #6b6b6b;
	background-color: #ededed;
}

.contact-form textarea {
	padding: 10px;
	width: 100%;
	height: 200px;
	display: inline-block;
	resize: none;
	outline: none;
	border: 1px solid #505050;
	font-size: 16px;
}

.contact-form textarea:focus {
	border: 1px solid #6b6b6b;
	background-color: #ededed;
}

.contact-form select {
	width: 100%;
	height: 100%;
	padding: 10px;
	outline: none;
	border: 1px solid #505050;
	font-size: 16px;
}

.contact-form select:hover {
	cursor: pointer;
}

.contact-form select:focus {
	border: 1px solid #6b6b6b;
	background-color: #ededed;
}

.contact-form-topic-group {
	width: 100%;
}

.recaptcha {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-data {
	margin-bottom: 40px;
}

.contact-data h3 {
	letter-spacing: 1px;
	font-size: 20px;
}

.contact-data span {
	font-size: 16px;
	vertical-align: top;
}

.contact-icons {
	font-size: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.select-option {
	width: 100%;
	height: 100%;
	padding: 10px;
	outline: none;
	border: 1px solid #505050;
	font-size: 16px;
}

@media screen and (max-width: 768px) {
	.contact-all {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.contact-form {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.contact-form-topic-group {
		display: flex;
		flex-direction: column;
	}

	.contact-form-title {
		width: 100%;
		height: auto;
	}

	.contact-form-input {
		width: 100%;
		height: auto;
	}

	.contact-form-textarea {
		width: 100%;
	}
}

/* End of Contact */

/* Accordion */

.faq-section-name {
	text-align: center;
	padding: 50px;
	font-size: 48px;
	font-family: 'Times New Roman', Times, serif;
	border-top: 1px solid #606060;
	margin: 0 10%;
}

.accordion-section {
	display: flex;
	flex-direction: column;
	margin: 0 10%;
	border-top: 1px solid #606060;
}

.accordion-title {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: none;
	outline: none;
	transition: background-color 0.6s ease;
	padding: 40px 30px;
}

.accordion-title:hover,
.active {
	background-color: #ccc;
}

.accordion-icon {
	margin-left: auto;
	transition: transform 0.6s ease;
}

.rotate {
	transform: rotate(90deg);
}

.accordion-content {
	background-color: white;
	overflow: hidden;
	transition: max-height 0.6s ease, margin 0.6s ease;
	font-size: 16px;
	font-weight: 600;
	padding: 0 30px;
	color: #505050;
	margin: 20px 0;
}

.accordion-content-hidden {
	background-color: white;
	overflow: hidden;
	transition: max-height 0.6s ease, margin 0.6s ease;
	font-size: 16px;
	font-weight: 600;
	padding: 0 30px;
	color: #505050;
}

@media screen and (max-width: 600px) {
	.faq-section-name {
		margin: 0px;
		display: flex;
		flex-direction: column;
	}

	.accordion-section {
		margin: 0px;
		display: flex;
		flex-direction: column;
	}
}

/* End of Accordion */

/* ScrollToTop */

.scroll-to-top {
	background: black;
	color: white;
	position: fixed;
	bottom: 20px;
	left: 1.5%;
	width: 50px;
	height: 50px;
	z-index: 2;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	text-decoration: none;
	opacity: 0.6;
	pointer-events: auto;
	margin-top: 10px;
	transition: all 1s;

	&:hover {
		opacity: 1;
		animation: wiggle 1s ease;
		animation-iteration-count: 1;
	}
}

.scroll-to-top.off {
	opacity: 0;
	pointer-events: none;
	bottom: -20px;
	transition: all 1s;
}

@keyframes wiggle {
	20% {
		transform: translateY(6px);
	}
	40% {
		transform: translateY(-5px);
	}
	60% {
		transform: translateY(4px);
	}
	80% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(0);
	}
}

/* End of ScrollToTop */

/* Marketplace */

.content-introduction-field {
	background-color: #0c1323;
	color: #ffffff;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
}

.content-introduction-field h3 {
	width: 80%;
	text-align: center;
}

.content-introduction-field p {
	width: 80%;
	text-align: center;
}

.sell-account-form {
	display: flex;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.sell-account-left-side {
	width: 50%;
	margin: 20px 0;
	padding-left: 10px;
	float: left;
}

.sell-account-right-side {
	width: 50%;
	padding-left: 10px;
	margin: 20px 0;
	float: left;
}

.sell-title {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	margin: 5px 0;
}

.sell-input {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	margin: 5px 0;
}

.sell-input input[type='text'] {
	font-size: 16px;
	padding: 10px;
	width: 100%;
	outline: none;
	border: 1px solid #606060;
}

.sell-input input[type='text']:focus {
	border: 1px solid #6b6b6b;
	background-color: #ededed;
}

.sell-input input[type='email'] {
	font-size: 16px;
	padding: 10px;
	width: 100%;
	outline: none;
	border: 1px solid #606060;
}

.sell-input input[type='email']:focus {
	border: 1px solid #6b6b6b;
	background-color: #ededed;
}

.sell-input input[type='tel'] {
	font-size: 16px;
	padding: 10px;
	width: 100%;
	outline: none;
	border: 1px solid #606060;
}

.sell-input input[type='tel']:focus {
	border: 1px solid #6b6b6b;
	background-color: #ededed;
}

.sell-input input[type='file'] {
	font-size: 16px;
	padding: 10px;
	width: 100%;
	border: 1px solid #606060;
	outline: none;
}

.sell-input input[type='file']:focus {
	border: 1px solid #6b6b6b;
	background-color: #ededed;
}

.sell-input select {
	font-size: 16px;
	padding: 10px;
	width: 100%;
	border: 1px solid #606060;
}

.sell-input select:focus {
	border: 1px solid #6b6b6b;
	background-color: #ededed;
}

.sell-input select:hover {
	cursor: pointer;
}

.sell-input textarea {
	font-size: 16px;
	padding: 10px;
	width: 100%;
	height: 100px;
	resize: none;
	border: 1px solid #606060;
	outline: none;
}

.sell-input textarea:focus {
	border: 1px solid #6b6b6b;
	background-color: #ededed;
}

.sell-account-submit {
	width: 100%;
	text-align: center;
	clear: both;
	margin: 20px 0;
}

.sell-account-submit input[type='submit'] {
	padding: 20px 20px;
	box-sizing: border-box;
	font-size: 16px;
	outline: none;
	color: #d0d0d0;
	background-color: #0c1323;
	border-radius: 50%;
	border: none;
	margin-bottom: 30px;
	height: 140px;
	width: 140px;
	font-weight: 700;
}

.sell-account-submit input[type='submit']:hover {
	cursor: pointer;
	background-color: #355b9b;
	color: #ffffff;
}

@media screen and (max-width: 820px) {
	.sell-account-form {
		width: 80%;
		padding: 0 5%;
		display: flex;
		flex-direction: column;
	}

	.sell-account-left-side {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.sell-account-right-side {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.sell-title {
		width: 100%;
	}

	.sell-input {
		width: 100%;
	}
}

@media screen and (max-width: 586px) {
	.sell-account-form {
		width: 100%;
	}
}

/* About us */

.about-us-all {
	width: 100%;
	padding: 5%;
}
.about-us-idea {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}
.about-us-idea h3 {
	text-align: center;
}
.about-us-idea p {
	padding: 0px 10px;
}

.about-us-buying {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}
.about-us-buying h3 {
	text-align: center;
}
.about-us-buying p {
	padding: 0px 10px;
}

.about-us-animation {
	width: 100%;
	padding: 50px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.about-us-animation img {
	width: 200px;
	height: 300px;
}

.about-us-problem {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}
.about-us-problem h3 {
	text-align: center;
}
.about-us-problem p {
	padding: 0px 10px;
}

.about-us-addition {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background-color: #355b9b;
	padding: 70px 0px;
	color: #d0d0d0;
}
.about-us-addition p {
	padding: 0px 10%;
}

@media screen and (max-width: 768px) {
	.about-us-idea {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.about-us-buying {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}

	.about-us-animation img {
		width: 130px;
		height: 200px;
	}
}

/* End About us */
